
/**
 * Mode logo.
 */

.logo[data-logo="Mode"] {
  width: 4.537362303982593em;
}

.logo[data-logo="Mode"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Mode"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Mode"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}